[project]
name = "memalot-examples"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "cachetools",
    "memalot>=1.0.8",
    "numpy",
]
